<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="unidexBumedConnectionString" value="data source=US06PWDB500;initial catalog=UnidexBUMED_ST;user id=exporttrac;password=3xp0rtTr@c" />
    <add key="unidexIBMLBumedConnectionString" value="data source=US06PWDB500;initial catalog=IBML_BUMED;user id=exporttrac;password=3xp0rtTr@c" />
    <add key="unidexBumedLoosePaperConnectionString" value="Data Source=US06VWSQLLP1;Initial Catalog=UnidexBumedST;user id=sa;password=3xp0rtTr@c" />
    <add key="unidexUATConnectionString" value="Data Source=US06VWAP212;Initial Catalog=UnidexBumedST;user id=sa;password=Core1000Pants" />
  <add key="unidexIBMLUATConnectionString" value="Data Source=US06VWAP212;Initial Catalog=IBML_BUMED;user id=sa;password=Core1000Pants" />
  </appSettings>

</configuration>